<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PerfectDemoProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PerfectDemoProject.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_1486</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1495</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1512</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1535</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1553</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1585</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1613</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1620</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1637</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_782</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_798</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
